<h1>パスワード再設定</h1>
<p>パスワードを変更するために、下のリンクに進んでください。</p>
<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>

<p>このリンク先は2時間のみ有効です。</p>